body {
	font-family: "Ubuntu",sans-serif;
}

/*main a, main a:link, main a:active, main a:visited {
	color: #2276a1;
}*/

.md-nav {
    font-size: 14px;
    line-height: 1.3;
}

.md-nav__link {
    display: block;
    margin-bottom: 20px;
    -webkit-transition: color .125s;
    transition: color .125s;
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: hidden;
}

.md-nav__title {
    display: block;
    margin-bottom: 20px;
    padding: 0 .6rem;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
}

.md-sidebar li ul:not(.list-grouped)>li.md-nav__item--active>label {
    color: #2276a1;
    transform: translateX(15px);
    transition: transform .2s ease-in-out,color .2s ease-in-out;
}

.md-nav__item .md-nav__link--active {
color: #2276a1;
font-weight: 600;
}

.md-nav__link:focus,.md-nav__link:hover {
    transition: color .2s ease-in-out;
    color: #2276a1;
}

.md-typeset {
    font-size: 14px;
    line-height: 1.6;
    -webkit-print-color-adjust: exact;
}

.md-header {
	background: linear-gradient(175deg, #4B9AA6 0%, #31698E 61%, #1C2B4A 100%);
}
.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
	width:auto;
}
.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
	width:auto;
}

.md-typeset h1 {
	font-size: 1.8rem;
line-height: 1.35;
font-weight: 300;
color: #2276a1;
margin: 0;
}
